In [52]:
 with open(r"C:\Users\Francis Hung\Desktop\Datatrain\example.txt",'r') as f:
    data = f.readlines()
print(data)

['id,sex,age,score\n', '001,F,20,77\n', '002,F,25,90\n', '003,M,22,80\n', '004,F,30,66\n', '005,M,40,60\n', '006,M,29,87']

In [53]:
 import pandas as pd 
    
data = []
with open(r"C:\Users\Francis Hung\Desktop\Datatrain\example.txt",'r') as f:
    for line in f: 
            line = line.replace("\n"," ").split(",") #將每句最後的 /n 取代成空值後，再以逗號斷句
            data.append(line)
data

[['id', 'sex', 'age', 'score '],
 ['001', 'F', '20', '77 '],
 ['002', 'F', '25', '90 '],
 ['003', 'M', '22', '80 '],
 ['004', 'F', '30', '66 '],
 ['005', 'M', '40', '60 '],
 ['006', 'M', '29', '87']]

In [54]:
# Build the dataframe
df = pd.DataFrame(data[1:])
df.columns = data[0]
df

    id sex age score
0  001   F  20    77
1  002   F  25    90
2  003   M  22    80
3  004   F  30    66
4  005   M  40    60
5  006   M  29     87

# Transfer the .txt into .json

In [55]:
import json
df.to_json(r'C:\Users\Francis Hung\Desktop\Datatrain\example.json') #assign after-transfer-file name

In [56]:
# open it again
with open(r'C:\Users\Francis Hung\Desktop\Datatrain\example.json', 'r') as f:
    j1 = json.load(f)
j1

{'id': {'0': '001',
  '1': '002',
  '2': '003',
  '3': '004',
  '4': '005',
  '5': '006'},
 'sex': {'0': 'F', '1': 'F', '2': 'M', '3': 'F', '4': 'M', '5': 'M'},
 'age': {'0': '20', '1': '25', '2': '22', '3': '30', '4': '40', '5': '29'},
 'score ': {'0': '77 ',
  '1': '90 ',
  '2': '80 ',
  '3': '66 ',
  '4': '60 ',
  '5': '87'}}

In [57]:
df.set_index('id', inplace=True) #setting the Index as id, and set inplace= True to let it update directly otherwise it will create a new one
df

    sex age score
id
001   F  20    77
002   F  25    90
003   M  22    80
004   F  30    66
005   M  40    60
006   M  29     87

# Restore the file into .npy 
There is a filetype that store the numpy arry especially, which can make your programe read the Data faster!

Reference [Why you should start using .npy file more often…](https://towardsdatascience.com/why-you-should-start-using-npy-file-more-often-df2a13cc0161)

In [58]:
import numpy as np
# let data's value transfer into numpy array
array = np.array(data[1:])
array

array([['001', 'F', '20', '77 '],
       ['002', 'F', '25', '90 '],
       ['003', 'M', '22', '80 '],
       ['004', 'F', '30', '66 '],
       ['005', 'M', '40', '60 '],
       ['006', 'M', '29', '87']], dtype='<U3')

In [59]:
np.save(arr=array,file=r"C:\Users\Francis Hung\Desktop\Datatrain\example.npy"
)

In [60]:
array_back = np.load(r"C:\Users\Francis Hung\Desktop\Datatrain\example.npy")
array_back

array([['001', 'F', '20', '77 '],
       ['002', 'F', '25', '90 '],
       ['003', 'M', '22', '80 '],
       ['004', 'F', '30', '66 '],
       ['005', 'M', '40', '60 '],
       ['006', 'M', '29', '87']], dtype='<U3')

# Pickle
An method to package everytihing in Python

In [61]:
import pickle

# open an exampe.pkl to write in 
with open(r'C:\Users\Francis Hung\Desktop\Datatrain\example.pkl', 'wb') as f:
   # Write(Dump) everything into that pkl file
    pickle.dump(file=f, obj=data)

In [62]:
with open(r'C:\Users\Francis Hung\Desktop\Datatrain\example.pkl', 'rb') as f:
    pkl_data = pickle.load(f)
pkl_data

[['id', 'sex', 'age', 'score '],
 ['001', 'F', '20', '77 '],
 ['002', 'F', '25', '90 '],
 ['003', 'M', '22', '80 '],
 ['004', 'F', '30', '66 '],
 ['005', 'M', '40', '60 '],
 ['006', 'M', '29', '87']]