In [48]:
import pandas as pd
import random as rd

# Build the Dataframe
There is two method to build the Dataframe：

Method 1.
    Build the string array structure and use the pandas.DataFrame(data) to transfer to Dataframe.
    
 Method 2.
  Build the label and column separately,using the 'list' and 'zip' to connect labels and column.

Method 1

In [49]:
a = rd.randrange(1,100)
b = rd.randrange(1,100)
c = rd.randrange(1,100)
d = rd.randrange(1,100)

data = {'Weekday':['Sat','Sat','Sun','Sun'],
        'City':['Kaoshiung','Taipei','Kaoshiung','Taipei'],
        'Visitors (Unit : thousands)':[a,b,c,d],
       }

In [50]:
Visitor_1 = pd.DataFrame(data)
Visitor_1

  Weekday       City  Visitors (Unit : thousands)
0     Sat  Kaoshiung                           17
1     Sat     Taipei                           77
2     Sun  Kaoshiung                           76
3     Sun     Taipei                           61

Method 2

In [51]:
Cities = ['Kaoshiung','Taipei','Kaoshiung','Taipei']
Weekdays = ['Sat','Sat','Sun','Sun']
Visitors = [a,b,c,d]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [Cities, Weekdays, Visitors]

zipped = list(zip(list_labels, list_cols))

In [52]:
Vistor_2 = pd.DataFrame(dict(zipped))
Vistor_2

        city weekday  visitor
0  Kaoshiung     Sat       17
1     Taipei     Sat       77
2  Kaoshiung     Sun       76
3     Taipei     Sun       61

# Groupby 用法
Reference: [Pandas Groupby使用](https://ithelp.ithome.com.tw/articles/10194027)

In [53]:
Visitor_1.groupby(by="Weekday")[['Visitors (Unit : thousands)']].mean()

         Visitors (Unit : thousands)
Weekday
Sat                             47.0
Sun                             68.5

# Pratice

In [54]:
Countries = ['Taiwan','USA','Japan']
Populations = [a,b,c]
list_lab = ['Country','Population']
list_col = [Countries,Populations] 
zipped = list(zip(list_lab,list_col))

In [55]:
Table2 = pd.DataFrame(dict(zipped))
print(Table2)

  Country  Population
0  Taiwan          17
1     USA          77
2   Japan          76

In [57]:
Table2.max()

Country       USA
Population     77
dtype: object