In [11]:
import pandas as pd
import numpy as np
import random

Reference：[由 Pandas 的 DataFrame 中取得資料](http://justimchung.blogspot.com/2018/06/pandas-dataframe.html)

In [12]:
a = random.randrange(10000000,100000000)
b = random.randrange(10000000,100000000)
c = random.randrange(10000000,100000000)

data ={'國家':["Taiwan", "USA", "Japan"],
       '人口':[a,b,c]}
datatable1 = pd.DataFrame(data)
print(datatable1)

       國家        人口
0  Taiwan  46536037
1     USA  44925299
2   Japan  48856581

In [13]:
# 使用desrcibe可得知最大值
datatable1.describe()

                 人口
count  3.000000e+00
mean   4.677264e+07
std    1.976292e+06
min    4.492530e+07
25%    4.573067e+07
50%    4.653604e+07
75%    4.769631e+07
max    4.885658e+07

In [14]:
# 可以使用Sorting 來取出最大人口之資料點
datatable1.sort_values(by='人口').tail(1) # sorting 預設為由小到大

      國家        人口
2  Japan  48856581

In [15]:
#或者可以直接Call out 但無法知道此資料的行數
datatable1.max()

國家         USA
人口    48856581
dtype: object

In [16]:
#使用[]提取column資料
datatable1["國家"]
#也可以直接提取物件屬性直接提取
datatable1.國家

0    Taiwan
1       USA
2     Japan
Name: 國家, dtype: object

In [18]:
# 多一個[]就會有格線出現，也可以說是生出一個dataframe
datatable1[["國家"]]

       國家
0  Taiwan
1     USA
2   Japan