In [78]:
import os 
import numpy as np
import pandas as pd

In [79]:
dirofdata = r'C:\Users\Francis Hung\Desktop\Datatrain'

In [80]:
f_app_train = os.path.join(dirofdata,'application_test1.csv')
app_train = pd.read_csv(f_app_train)

In [81]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(48744, 1)

  WEEKDAY_APPR_PROCESS_START
0                    TUESDAY
1                     FRIDAY
2                     MONDAY
3                  WEDNESDAY
4                     FRIDAY

In [82]:
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(48744, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0